<div class="container">
  <div fxLayout="row" fxLayoutWrap>
    <div fxFlex *ngFor="let product of products | async; let i = index">

      <mat-card class="stottle-card">
        <!-- <img mat-card-image src="https://loremflickr.com/250/125?random={{i}}" /> -->
        <img mat-card-image src="http://via.placeholder.com/300x300" />
        <md-card-content>
          <mat-card-title>{{product.displayName}}</mat-card-title>
          {{product.category | json}}
          {{product.filters | json}}
          
        </md-card-content>

        <mat-card-actions>
          <div class="container">
            <div fxLayout="row" style="text-align: center">
              <div fxFlex="33">
                <button mat-icon-button id="removeFromCart" (click)="removeFromCart(product)">-</button>
              </div>
              <div fxFlex="33">
                <button mat-icon-button id="cartCount">{{ getCount(product) | async}}</button>
              </div>
              <div fxFlex="33">
                <button mat-icon-button id="addToCart" (click)="addToCart(product)">+</button>
              </div>
            </div>
          </div>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
</div>